<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

    #welcome-title-image{
        position:fixed;
        z-index:-10;
        padding-left: 25%;
        left:0;
        top:-130px;
    }
    #welcome-title{
        top:0;
        display:inline-block;
        margin-top:150px;
        position:fixed;
        padding-left:25%;
        padding-right:25%;
    }
    </style>
</head>
<body>
<div class="container" style="">
    <div id="welcome-title" style="text-align:center;">
        <img id="welcome-title-image" src="{{ url_for('static', filename='images/welcome-title-cloud.png') }}">
        <h1 style="font-weight:bold;color:#37383c; padding-left:50px">На Вашу почту отправленно письмо.<br/>Проследуйте инструкциям<br/>и закончите регистрацию!</h1>
    </div>
</div>
</body>
</html>